@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'RobotoLight', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoBlack', sans-serif;
}
