.modal-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, .3);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#modal-login {
    .modal {
        width: 400px;
        height: 400px;

        background: #fff;

        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        

        .modal-content {
            width: 100%;
            height: 90%;

            margin-top: 10px;

            .switcher {
                width: 100%;
                height: 30px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .switcher button {
                width: 50%;
                height: 100%;

                background: #fff;

                color:#2e2e2e;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;

                outline: none;
                border: none;

                border-top: 2px solid #ec1616;
                border-bottom: 2px solid #ec1616;
                transition: .3s;
            }
            .switcher button:hover {
                cursor: pointer;
            }
            .switcher .active {
                background: #ec1616;
                color: #fff;
            }

            .form-wrap {
                width: 100%;
                height: calc(100% - 30px);

                form {
                    width: 100%;
                    height: 100%;

                    padding: 20px 0;
                    box-sizing: border-box;

                    position: relative;


                    .form-title {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 800;
                        color: #2e2e2e;
                        margin-bottom: 30px;
                    }

                    .input-wrap {
                        width: 90%;
                        margin: 15px 5%;

                        display: flex;
                        flex-direction: column;

                        input {
                            margin: 5px 0 0 0;
                            padding-left: 10px;
                            box-sizing: border-box;

                            height: 26px;

                            font-size: 16px;

                            background: #f4f4f4;
                            outline: none;
                            border: none;
                            border-bottom: #a1a1a1 solid 1px;
                        }

                        input:focus {
                            outline: none;
                            border-bottom: #2e2e2e solid 1px;
                        }
                    }

                    .form-btn {
                        width: 60%;
                        height: 40px;

                        position: absolute;
                        bottom: 0px;
                        margin: 0 20%;

                        border: none;
                        border-radius: 5px;
                        
                        background: #ec1616;
                        color: #fff;
                        font-size: 20px;
                    }
                    
                }

                #reg-form{
                    display: none;
                }
            }
        }
    }
}